[Unit]
Description=AmmarServer Suite

[Service]
Type=simple
ExecStart=/bin/bash /home/ammar/Documents/Programming/AmmarServer/startSystem.sh

[Install]
WantedBy=multi-user.target
