[Unit]
Description=AmmarServer Suite

[Service]
User=ammar
Group=ammar
Type=forking
ExecStart=/bin/bash /home/ammar/Documents/Programming/AmmarServer/startSystem.sh

[Install]
WantedBy=multi-user.target
