* 
{
  font-family: 'Open Sans';
  box-sizing: border-box;
}


.chatbox 
{
  background-color: #222222;
  width: 400px;
  height: 500px;
  border: 2px solid #ddd; 
  bottom: 0;
}

.chatbox > .chatname
{
  width: 100%;
  background-color: #222222;
  color : #DDDDDD;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}


.chatbox > .chatname h3
{
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #DDDDDD;
}

.chatbox > .chatmessages 
{
 background: white;
 height: 420px;
 border-bottom: 1px solid #ddd;
 overflow-y: scroll;
 bottom: 0;
}

.chatmessages > .chatsend form input[type='submit']
{
  padding: 6px;
  background: white;
  border: 1px solid #ddd;
  cursor: pointer;
}

.chatmessages > .chatsend form input[type='text']
{
  width: 85%;
  padding: 3px;
  padding-left: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px;
  height: 30px;
}


.cm 
{ 
  list-style:none;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}
