<html>\
<head>\
  <title>Welcome to AmmarServer</title>\
</head>\
<body bgcolor=#FFFFFF text=#000000>\
  <center>\
   <table width="90%" height="90%">\
    <tr>\
      <td width="90%" height="90%" align="center" valign="center">\
 \
      <table height=200 bgcolor=#CCCCCC >\
       <tr>\
        <td colspan=3>\
         <h2>Login to server</h2><hr>\
        </td>\
       </tr>\
       <tr>\
        <td>\
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAM0AAAD\
 NCAMAAAAsYgRbAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5c\
 cllPAAAABJQTFRF3NSmzMewPxIG//ncJEJsldTou1jHgAAAARBJREFUeNrs2EEK\
 gCAQBVDLuv+V20dENbMY831wKz4Y/VHb/5RGQ0NDQ0NDQ0NDQ0NDQ0NDQ\
 0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0PzMWtyaGhoaGhoaGhoaGhoaGhoxtb0QGho\
 aGhoaGhoaGhoaGhoaMbRLEvv50VTQ9OTQ5OpyZ01GpM2g0bfmDQaL7S+ofFC6x\
 v3ZpxJiywakzbvd9r3RWPS9I2+MWk0+kbf0Hih9Y17U0nTHibrDDQ0NDQ0NDQ0\
 NDQ0NDQ0NTXbRSL/AK72o6GhoaGhoRlL8951vwsNDQ0NDQ1NDc0WyHtDTEhD\
 Q0NDQ0NTS5MdGhoaGhoaGhoaGhoaGhoaGhoaGhoaGposzSHAAErMwwQ2HwRQ\
 AAAAAElFTkSuQmCC" alt="login.png">\
       </td>\
       <td width=40></td>\
       <td>\
         <form action="login.html" method="post">\
         <table>\
          <tr>\
            <td> <font color=#00000>Name:</font> </td>\
            <td> <input type="text" name="username" /> </td>\
          </tr>\
          <tr>\
            <td> <font color=#00000>Password:</font> </td>\
            <td> <input type="password" name="password"></td>\
          </tr> \
          <tr height=20><td></td></tr>\
          <tr>\
            <td align=center colspan=2>\
                <input type="submit" value="Login"/> \
                <input type="button" onClick="window.location='index.html'" value="Exit">\
            </td>\
          </tr>\
        </table>\
        </form>\
      </td> \
     </tr>\
     <tr>\
      <td colspan=3> \
       <hr><br><br>\
      </td>\
     </tr>\
   </table> \
</td></tr>\
</table> \
</center><br>\
</body>\
</html>\
