"\
<html>\
  <head>\
    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\
    <title>AmmarServer Directory listing</title>\
  </head>\
  <body>\
  <h1>AmmarServer Directory Listing</h1>\
  <a name=\"top\"></a><hr>\
  <!-- TODO : Add some clientside javascript search and sorting capabilities! :P -->\
  <table>\
    <tr>\
      <td></td>\
      <td>\
         <a href=\"#todo2\">Filename</a>\
      </td>\
      <td>\
         <a href=\"#todo3\">Byte Size</a>\
      </td>\
      <td>\
         <a href=\"#todo4\">Modification Date</a>\
      </td>\
    </tr>\
"
