   a { color: #000000; }
   .views { font-size:18pt; } 
   .votes { font-size:10pt; } 
   hr { border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3); } 
   .searchbox 
   {
    border: 1px solid #DDDDDD;
    font-size: 16px;
    padding: 5px;
    width: 500px;
    }
   .searchimg
   {
    background:url(magnify.png);
    background-repeat: no-repeat;
    background-position: center;
    height : 30px; 
    width: 30px;
   }  
